/* src/assets/css/custom.css */

/*

BASICS

*/

body {
  font-family: Merriweather;
  background-color: whitesmoke;
}

#root,
.App {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/* end */
